{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="/">
        <i class="bx bx-fingerprint mr-2"></i>Scan Face
    </a>
</li>


{#USERS#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'website:scan-image-list' %}">
        <i class="bx bx-image mr-2"></i>Images
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}