{% extends 'core/base.html' %}
{% block base_links %}
    <style>
        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

        form > input {
            margin-right: 15px;
        }

        #results {
            float: right;
            margin: 20px;
            padding: 20px;
            border: 1px solid;
            background: #ccc;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">

                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">Scan Your Face</p>
                    <p class="mb-0 card-text">Make sure your face is clear to camera for better results.</p>
                </div>
                <div class="card-body border-bottom">
                    <div id="my_camera"></div>
                    <script type="text/javascript" src="https://pixlcore.com/demos/webcamjs/webcam.min.js"></script>
                    <script language="JavaScript">
                        Webcam.set({
                            width: 500,
                            height: 400,
                            image_format: 'jpeg',
                            jpeg_quality: 100
                        });
                        Webcam.attach('#my_camera');
                    </script>
                </div>
                <div class="card-body">

                    <form>
                        <input type="button" class="btn btn-success" value="Take Snapshot" onClick="take_snapshot()">
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block base_external_scripts %}
    <script>
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {

                $.post('/', {'image': data_uri}, function (data) {
                    window.location = '/image/'+parseInt(data)+'/';
                })
            });
        }
    </script>
{% endblock %}